<app-component-menu></app-component-menu>
<div class="container">
  <div align="center" class="row div-padding">
    <h2>Listado Productos</h2>
  </div>
  <div class="row div-padding" *ngIf="dataSource.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="open(false)">Nuevo Producto</button>
    </div>
  </div>
  <div class="row div-padding">
    <div class="col-xs-12">
      <ng-container *ngIf="dataSource.length > 0; else no_data">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> <strong style="color: black;">No.</strong> </th>
            <td mat-cell *matCellDef="let element; index as i"> {{ i + 1 }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> <strong style="color: black;">Nombre</strong> </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> <strong style="color: black;">Precio</strong> </th>
            <td mat-cell *matCellDef="let element"> Q {{element.precio  | number: '1.0-2' }} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> <strong style="color: black;">Acciones</strong> </th>
            <td mat-cell *matCellDef="let element">
              <button class="btn btn-warning" (click)="open(element)"><i class="far fa-edit"></i> Editar</button>&nbsp;
              <button class="btn btn-danger" (click)="deleteProduct(element.id)"><i class="far fa-trash-alt"></i>
                Eliminar</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
      <ng-template #no_data>
        <div class="container d-flex justify-content-center div-padding">
          <div class="card">
            <div class="card-body">
              <button class="btn btn-primary" (click)="open(false)">Nuevo Producto</button>
              Agrega un nuevo producto.
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>